#book-index {

}

.book {
  // background-color: red;
  margin-top: 5px;
  width: 20%;
  float: left;
  border: 1px solid #A7A39C;
  .title {
    width: 100%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    background-color: #D0D0D0;
  }
  .author {
    width: 100%;
    float: left;
    text-overflow: ellipsis;
    font-size: 10px;
  }
}

#show-book {
  width: 100%;
  margin: 15px;
    tr {
      margin-top: 5px;
      .td-image {
        width: 142px;
        margin: 1px 20px 1px 20px;
      }
      .td-info {
        width: 600px;
      }
    }
}

.title {outline:none; }
.title:hover {text-decoration:none;}
.title span { z-index:10;display:none; padding:14px 20px; margin-top:10px; width:auto; line-height:16px; }
.title:hover span{ float: left; display:block; position:absolute; border:2px solid #FFF; color:#EEE; background:#333 url(assets/css-tooltip-gradient-bg.png) repeat-x 0 0; }
.callout {z-index:20;position:absolute;border:0;top:-14px;left:30px;} /*CSS3 extras*/
.title span { border-radius:2px; box-shadow: 0px 0px 8px 4px #666; /*opacity: 0.8;*/ }

.books {
  margin: 15px 10px 10px 10px;
  background-color: none;
  height: auto;
}

#cont-top {
  height: 200px;
}

#cont-wraper {
  // background-color: white;
  margin-top: 140px;
  min-height: 500px;
  max-height: 4000px;
}

#advand-search {
  background-color: #F2F1F0;
  height: 190px;
  .advand-search-form {
    margin: 15px;
  }
}

#listting-books {
  margin: 5px;
  width: 100%;
  float: left;
}
///// Home static page

#myCarousel {
  margin-top: 40px;
}

#suggest-book {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

#wish-list {
  width: 100%;
  float: left;
  margin-bottom: 50px;
}

#footer {
  height: 200px;
  margin-top: 10px;
  background-color: #EBEAE9;
}

.image-book {
  max-width: 190px;
  max-height: 211px;
}

h6 {
  color: red;
  font-size: 24;
}

#user-info {
  background-color: #F2F1F0;
  height: 190px;
  width: 100%;
}
